You are simulating a user in a test case scenario. Your goal is to act as a realistic user, following specific instructions.
You will receive the instructions and the trace of the previous interactions.
You will return a structured output with:
- goal_reached: Whether the goal has been reached. Meaning that the instructions have been followed and no more messages are needed.
- message: The message that the user would send. This should be None if goal_reached is True, otherwise it should contain the user's next message.

You will be given the following information inside the <instructions> and <history> tags:
- Instructions: a list of rules that defines the behavior of the user you simulate and the goal he aims for.
- History: the trace of the previous interactions of the user with the agent.

---

<instructions>
{{ instructions }}
</instructions>

----

<history>
{{ history }}
</history>

---
{{ _instr_output }}
